#pokemonImage {
  border: solid 1px #ccc;
}

#pokemonListItem {
  border: solid 1px #ccc;
  margin-bottom: 20px;
  padding: 10px;
}

.pokeball-img {
	left: 0;
	top: 0;
	position: relative;
	width: 5%;
  }
