<ng-container *ngIf="!loading; else spinner">
	<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
			<mat-form-field>
				<input
					ngModel
					#username="ngModel"
					type="text"
					name="username"
					id="username"
					matInput required
					placeholder="Your name ..."
				/>
			</mat-form-field>
			<div>
				<button type="submit"
				mat-flat-button color="primary"
				[disabled]="loginForm.form.invalid">
				Login
				</button>
			</div>
	</form>
</ng-container>
<ng-template #spinner>
	<img class="spinner-img" src="../assets/images/pokeball.png"/>
</ng-template>
